.card-text {
    font-size: 11px;
}

.card-body {
    padding: 25px 3px;
}

.card:hover {
    opacity: 0.6;
    text-transform: uppercase;
}

.table {
    font-size: 12px;
}

.main-content {
    margin-top: 40px;
}

#image-text {
    height: 32px;
}

#track-hover:hover {
    opacity: 0.5;
    text-decoration-line: underline;
}
