.card {
    width: 180px;
    display: inline-block;
    padding: 5px 5px;
    position: relative;
    transition: ease;
}

.artist-img {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.track-img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.app-window {
    min-width: 100%;
    padding: 0px;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px;
}

.main-content {
    margin-left: 120px;
}

.track-play{
    width: 220px;
    height: 260px;
    position: fixed;
    top: 780px;
    left: 10px;
    /* border: 1px solid black; */
}
.track-play-inner{
    position: relative;
    text-align: center;
    font-size: 22px;
    background-color: grey;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    color: black;
    left: 90px;
    top: 3px;
}
.track-play-inner:hover{
    /* opacity: 0.8; */
    animation-name: fade-in;
    animation-duration: 0.5s;
} 

@keyframes fade-in {
    from{
        opacity: 0.8;
    }
    to{
        opacity: 0.9;
    }
} 

.track-text {
    font-size: 12px;
    margin-bottom: 0px;
}